<template>
  <div>
    <client-only>
      <v-card dark elevation="9" color="darkOrange" class="mx-2 my-5 pa-3">
        <v-card-title class="title text-uppercase white--text">
          <nuxt-link class="white--text text-uppercase title" :to="{name:'posts-id',params:{id:post['id']}}">{{ post['title'] }}</nuxt-link>
        </v-card-title>
        <v-card-text class="subtitle-1">
          <v-icon x-small color="darkBlue" class="mr-3">mdi-home</v-icon>{{ post['body'] }}</v-card-text>
      </v-card>
      <v-divider></v-divider>
    </client-only>
  </div>
</template>

<script>
export default {
  name: "Post",
  props: {
    post: Object
  },
  head(){
    return {
      title : 'New POst Bitch'
    }
  }
}
</script>
