<template>
  <div>
    <client-only>
      <post :post="post"></post>
    </client-only>
  </div>
</template>

<script>
import Post from "@/components/posts/Post";
import axios from "axios";

export default {
  components: {Post},
  data() {
    return {
      post: null,
    }
  },

  head() {

    return {
      title: this.post.title
    }

  },

  async asyncData({params,error}) {

    try {

      let response = await axios.get(`https://jsonplaceholder.typicode.com/posts/${params.id}`)

      return {

        post: response.data


      }

    } catch (e) {

      error({

        statusCode:e.response.statusCode,
        message:e.response.message

      })

    }

  }

}
</script>

<style scoped>

</style>
