<template>
  <div class="pa-9">
    <h1>{{posts.length}} {{pluralize('post',posts.length)}}</h1>
    <Post v-for="(post,index) in posts" :key="index" :post="post"></Post>
    <a href="#" v-scroll-to="'body'">To Top</a>
  </div>
</template>

<script>

import axios from 'axios';
import Post from "~/components/posts/Post";

export default {
  name: "index",

  components: {

    Post

  },

  data() {
    return {
      posts: [],
    }
  },

  layout: 'post',

  async asyncData() {

    let response = await axios.get('https://jsonplaceholder.typicode.com/posts')

    return {

      posts: response.data

    }

  }

}
</script>

<style scoped>

</style>
