<template>
  <v-app>
    <div v-if="error['statusCode']===500">
      <Error404></Error404>
    </div>
  </v-app>
</template>

<script>
import Error404 from "@/layouts/errors/Error404";
export default {
  name: "error",
  components: {Error404},
  props:['error']
}
</script>

<style scoped>

</style>
