<template>
  <v-app>
    <client-only>
      <v-select v-model="selected" placeholder="Select Category" :options="['foo','bar']"></v-select>
    </client-only>
    <nuxt/>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      selected: null
    }
  }
}
</script>

