<template>
  <v-card class="ma-4" elevation="9" color="darkBlue" width="100%">
    asdfasdfasfasdff
  </v-card>
</template>

<script>

export default {

  head() {

    return {

      title: 'asdkjfsdkafjasdklfjksadjfsdalkjfklasddjflkasdjflasdjfkskadjflksaddfj'

    }

  }

}
</script>

